{% extends "base.html" %}

{% block content %}

    <div class="container light py-4 py-lg-5" style="margin-top: 76.4px" >
        <h1 class="bold text-center text-black mb-3 mb-lg-4"><b>Schedule</b></h1>
        <iframe width="100%" height="600px" scrolling="no" style="overflow: hidden;" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSFWtqcuk7AtRzbYDqjGFAobEkpwOaIspQqYEuqAhgxYy-mQQlRf8ioQe1gRZNFZ_GrMcLZpShSzh4Q/pubhtml?widget=true&amp;headers=false"></iframe>
        <p class="mt-4 small text-left">Having issues viewing? <a href="/static/Schedule'19.pdf">Download</a> instead.</p>
    </div>

    {% include 'footer.html' %}

{% endblock %}

{% block scripts %}
{% endblock %}