{% extends "base.html" %}

{% block content %}
    <div class="container light py-4 py-lg-5" style="margin-top: 76.4px" >
        <h1 class="bold text-center text-black mb-3 mb-lg-4"><b>SPONSORS</b></h1>
        <div class="row mt-5">
            {% for imgUrl in sponsors %}
            {% if imgUrl.link != null %}
            <div class="col-12 col-md-6 col-lg-4 my-3 d-flex align-items-center justify-content-center">
                <a href="{{imgUrl.link}}" target="_blank" class="d-flex align-items-center justify-content-center"><img src="/static/img/festspons/{{imgUrl.img}}" class="w-75 img-fluid" alt="{{imgUrl.img}}"></a>
            </div>
            {% else %}
            <div class="col-12 col-md-6 col-lg-4 my-3 d-flex align-items-center justify-content-center">
                <img src="/static/img/festspons/{{imgUrl}}" class="w-75 img-fluid" alt="{{imgUrl}}">
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% for categor in partners %}
        <h1 class="bold text-center text-black mb-3 mb-lg-4 mt-5 text-uppercase"><b>{{categor}}</b></h1>
        <div class="row mt-5">
            {% for imgUrl in partners[categor] %}
            {% if imgUrl.link != null %}
            <div class="col-12 col-md-6 col-lg-4 my-3 d-flex align-items-center justify-content-center">
                <a href="{{imgUrl.link}}" target="_blank" class="d-flex align-items-center justify-content-center"><img src="/static/img/partners/{{imgUrl.img}}" class="w-75 img-fluid" alt="{{imgUrl.img}}"></a>
            </div>
            {% else %}
            <div class="col-12 col-md-6 col-lg-4 my-3 d-flex align-items-center justify-content-center">
                <img src="/static/img/partners/{{imgUrl}}" class="w-75 img-fluid" alt="{{imgUrl}}">
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    {% include 'footer.html' %}

{% endblock %}

{% block scripts %}
{% endblock %}